body {
    margin: 20px;
    font-family: 'Fjord One', serif;
    background: #EEFFEE;
}

.reward-bg {
    background-color: transparent;
    transition: 0.5s;
}

.reward-gain {
    background-color: lightgreen;
    transition: 0s;
}

.reward-missed {
    background-color: lightcoral;
    transition: 0s;
}