body {
    margin: 20px;
    font-family: 'Fjord One', serif;
    background: #EEFFEE;
}

.reward-bg {
    background-color: transparent;
    transition: 0.5s;
}

.reward-gain {
    background-color: lightgreen;
    transition: 0s;
}

.reward-missed {
    background-color: lightcoral;
    transition: 0s;
}

ul#upgrades {
    margin: 0;
    padding: 0;
}

#upgrades li {
    margin: 5px;
    list-style-type: none;
}

#upgrades li button {
    max-width: 300px;
    white-space: normal;
    width: 100%;
}

#reward-amount-feedback {
    font-weight: bold;
}

#reward-amount-feedback.reward-feedback.reward {
    color: green;
}
#reward-amount-feedback.reward-feedback.loss {
    color: red;
}